[submodule "third_party/cryptopp"]
	path = third_party/cryptopp
	url = https://github.com/weidai11/cryptopp
[submodule "third_party/cryptopp-cmake"]
	path = third_party/cryptopp-cmake
	url = https://github.com/noloader/cryptopp-cmake
